body {
  margin:0;
  padding:0;
  font-family:'Lato', sans-serif;
  background-color: rgba(211, 211, 211, 0.3);
  background-image:url(images/flower_flag.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.page-wrap {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

#foreground {
  background-color:MidnightBlue;
  opacity: 0.9;
}

ul {
  list-style-type:none;
  text-align: center;
  display: inline-block;
  width: 800px;
}

li a {
  color:black;
  font-size:120%;
  font-weight:bold;
  text-decoration: none;
  float:left;
  margin:5px;
  margin-left:0px;
  width:120px;
  max-width:17%;
  min-width:5%;
  height:50px;
  padding:10px;
  padding-top:0;
  text-align:center;
  background-color:white;
  border-color:white;
  border-radius:25px;
  opacity:0.8;
}

li a:hover {
  opacity:1;
}

#welcome_section {
  padding-top:20px;
  padding-bottom:20px;
  color:white;
  text-align:center;
  font-weight:bold;
}

#welcome_section h1 {
  font-size:300%;
}

#general_info {
  width: 100%;
  font-size:120%;
  line-height:1.5;
  padding-top:10px;
  padding-bottom:10px;
  background-color:white;
  color:black;
  margin-bottom:20px;
  text-align:center;
}

.clear_float {
  clear:both;
}

#twitter_feed {
  max-width: 350px;
  min-width: 200px;
  scrolling:no;
  margin-top:50;
  border-radius: 25px;
  border-color:white;
}


#twitter_feed h1 {
  color:white;
}

#calendar {

}

#calendar h1 {
  color:white;
}

#calendar iframe {
  padding:10px;
  border-radius:10px;
  background-color:white;
  height:350px;
  scrolling:no;
}

#impressum {
  margin-top:200px;
  background-color: MidnightBlue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:auto;
  height:70px;
}

#impressum p {
  color:white;
  padding-top:15px;
  margin-left:20px;
}

.no_opacity {
  opacity:1;
}

.header {
  color: white;
  height: 1000px;
}

.header h2 {
  margin-top: 50px;
  text-align: left;
  margin-left: 80px;
  margin-bottom: 20px;
}

.header h3 {

  margin-top: 25px;
  text-align: left;
  margin-left: 80px;
}

.to_the_right {
  margin-left: 47px;
}
.center_nav_bar{
  padding-top: 10px;
}
p{
  text-align: left;
  margin-left: 80px;
}
.statement{
  font-size: 15px;
  font-weight: bold;
}
