body {
  margin:0;
  padding:0;
  font-family:'Lato', sans-serif;
  background-color: rgba(211, 211, 211, 0.3);
  background-image:url(images/flower_flag.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.page-wrap {
  text-align: center;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
}

#foreground {
  background-color:MidnightBlue;
  opacity: 0.9;
}

ul {
  list-style-type:none;
  text-align: center;
  display: inline-block;
  width: 800px;
}

li a {
  color:black;
  font-size:120%;
  font-weight:bold;
  text-decoration: none;
  float:left;
  margin:5px;
  margin-left:0px;
  width:120px;
  max-width:17%;
  min-width:5%;
  height:50px;
  padding:10px;
  padding-top:0;
  text-align:center;
  background-color:white;
  border-color:white;
  border-radius:25px;
  opacity:0.8;
}

li a:hover {
  opacity:1;
}

#welcome_section {
  padding-top:20px;
  padding-bottom:20px;
  color:white;
  text-align:center;
  font-weight:bold;
}

#welcome_section h1 {
  font-size:300%;
}

#general_info {
  width: 100%;
  font-size:120%;
  padding-top:10px;
  padding-bottom:10px;
  background-color:white;
  color:black;
  margin-bottom:20px;
  text-align:center;
}

.clear_float {
  clear:both;
}

#who_we_are_section h3 {
  line-height:1.5;
}

#send_message_section a {
  text-decoration:underline;
  color:black;
}
#send_message_section a:hover {
    color:pink;
  }

#twitter_feed {
  max-width: 350px;
  min-width: 150px;
  scrolling:no;
  margin-left:45px;
  text-alignt: center;
  border-radius: 25px;
  border-color:white;
}

#twitter_feed h1 {
  color:white;
}

#calendar h1 {
  color:white;
}

#calendar iframe {
  max-width:350px;
  min-width:150px;
  padding:10px;
  border-radius:10px;
  background-color:white;
  height:350px;
  scrolling:no;
}

#impressum {
  margin-top:50px;
  background-color: MidnightBlue;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width:auto;
  height:70px;
}

#impressum p {
  color:white;
  padding-top:15px;
  margin-left:20px;
  text-align:center;
}

.no_opacity {
  opacity:1;
}

.to_the_right {
  margin-left: 47px;
}

#newsletter {
  margin-top:100px;
  color:white;
  text-align:center;
}

#subscribe-button {
  padding-top: 5px;
}

button:hover {
  background: pink;
  color:white;
}

.center_nav_bar {
  padding-top: 10px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: white;
  color: black;
  font-weight:bold;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color:black;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

p {
  text-align: left;
  margin-left: 80px;
}

.statement {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.join_chats {
  color:white;
}
